.drawer {
  $self: &;

  @include cover(fixed);
  z-index: 900;
  background-color: transparentize($black, 0.5);
  @include hide(true, .3s);

  &--active {
    @include show;
  }

  &-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    background-color: $white;
    border: 1px solid currentColor;
    transform: translate3d(100%, 0, 0);
    transition: transform .3s ease;
    @include hide;

    #{$self}--animate & {
      transform: translate3d(0, 0, 0);
    }

    #{$self}--active & {
      @include show;
    }

  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;

    &--empty {
      justify-content: flex-start;
    }
  }

  &-header,
  &-cart-items,
  &-footer,
  &-empty {
    padding-left: $spacing*2;
    padding-right: $spacing*2;
  }

  &-header {
    height: 80px;
  }

  &-cart {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: calc(100% - 80px);
    
    &-items {
      height: 100%;
      overflow-y: scroll;
    }
  }

  &-footer {
    padding-top: $spacing*2;
    padding-bottom: $spacing*2;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: calc(80% - 80px);
  }
}