@use "../shared" as *;

::selection {
  background: $global-accent;
  color: $global-color;
}

html,
body {
  width: 100%;
}

html {
  background-color: $global-accent;
}

body {
  position: relative !important;
  background-color: $global-bg;
  color: $global-color;
  @include body;
}

body.stop-transitions * {
  transition: none !important;
}

#page {
  position: relative;
  opacity: 0;
  min-height: 100svh;
}

a:not(a[class]){
  cursor: pointer;
  color: $current;
  
  .contents & {
    @include text-decoration;
  }
}

/*! purgecss start ignore */

.grecaptcha-badge {
  @include sr-only;
}

/*! purgecss end ignore */