@use "../shared" as *;

.header {
  $self: &;
  
  position: fixed;
  top: var(--ah, 0px);
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  transition: top 0.45s $ease-default;
  pointer-events: none;

  &--scroll {
    top: 0;

    + .announcement {
      transform: translate3d(0,-100%,0);
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    padding: {
      top: $spacing*1.2;
      bottom: $spacing*1.2;
    }
    
    z-index: 100;

    &:after {
      content:'';
      @include cover;
      background-color: var(--header-bg);
      transition: all 0.45s $ease-default;
      z-index: -1;
    }

    body.nav-active & {
      transform: none !important;
    }
  }

  &-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-column {
    display: inline-block;
    width: 100%;
    display: flex;
    align-items: center;

    &:nth-of-type(1) {
      flex-shrink: 2;
    }
    
    &:nth-of-type(2) {
      justify-content: flex-end;
    }

    > * {
      pointer-events: all;
    }
  }

  &-logo {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &-btn {
    &.content {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid $current;
      @include heading-menu;

      @include bp-up(md) {
        width: 75px;
        height: 75px;
      }

      > span {
        display: block;
        position: relative;
        overflow: hidden;

        >span {
          display: block;
          transition: transform 0.3s $ease-default;

          &:nth-child(1) {
            transform: translate3d(0,0,0);
          }

          &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate3d(-50%,100%,0);
          }
        }
      }

      &.active {
        > span {
          >span {
            &:nth-child(1) {
              transform: translate3d(0,-100%,0);
            }
            &:nth-child(2) {
              transform: translate3d(-50%,0%,0);
            }
          }
        }
      }
    }
  }

  &--blur {
    &:after {
      backdrop-filter: blur(32.5px);
    }
  }

  &--background {
    &:after {
      background-color: $transparent;

      #{$self}--scroll & {
        background-color: var(--header-bg);
      }

      body.nav-open & {
        background-color: $transparent;
        transition: all 0.45s $ease-default;
      }
    }

    &#{$self}--blur {
      &:after {
        backdrop-filter: blur(0);
      }

      #{$self}--scroll & {
        &:after {
          backdrop-filter: blur(32.5px);
        }

        body.nav-open & {
          &:after {
            backdrop-filter: blur(0);
          }
        }
      }
    }
  }
}