@use "../shared" as *;

.accordion {
  $self: &;

  &-panel {
    position: relative;
  }

  &-btn {
    
    &:not(.btn-primary) {
      width: 100%;
      pointer-events: all;
      cursor: pointer;
      background-color: $transparent;
    }
  }

  &-content {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s $ease-default;
    z-index: 1;

    > * {
      @include fade-up-in($duration: 0.25s, $timing: $ease-default, $var: 25px);
    }

    &.open,
    &.active {

      > * {
        @include end-transform;
      }
    }

    #page.no-animate & {
      
      &.active {
        max-height: 100%;
      }
    }
  }
}