@use "../shared" as *;

/*! purgecss start ignore */

.blurb {
  
  a {
    text-decoration: none;
    @include text-decoration;
  }

  &.contents {
    h1,h2,h3,h4,h5,h6 {
      text-transform: unset;
    }

    h1+h1,h1+h2,h1+h3,h1+h4,h1+h5,h1+h6,
    h2+h1,h2+h2,h2+h3,h2+h4,h2+h5,h2+h6,
    h3+h1,h3+h2,h3+h3,h3+h4,h3+h5,h3+h6,
    h4+h1,h4+h2,h4+h3,h4+h4,h4+h5,h4+h6,
    h5+h1,h5+h2,h5+h3,h5+h4,h5+h5,h5+h6,
    h6+h1,h6+h2,h6+h3,h6+h4,h6+h5,h6+h6 {
      margin-top: $spacing;
    }

    p+h1,p+h2,p+h3,p+h4,p+h5,p+h6 {
      margin-top: $spacing*2;
    }
    
  }
}

/*! purgecss end ignore */