@keyframes fade-in {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes transform-in {
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
}

@mixin animate-in {
  opacity: 0;
  visibility: hidden;
  // will-change: opacity;
}

@mixin animate-up-in($var: 20px) {
  transform: translate3d(0, $var, 0);
  opacity: 0;
  visibility: hidden;
  // will-change: transform, opacity;
}

@mixin animate-down-in($var: -20px) {
  transform: translate3d(0, $var, 0);
  opacity: 0;
  visibility: hidden;
  // will-change: transform, opacity;
}

@mixin animate-right-in($var: 20px) {
  transform: translate3d($var, 0, 0);
  opacity: 0;
  visibility: hidden;
  // will-change: transform, opacity;
}

@mixin animate-left-in($var: -20px) {
  transform: translate3d($var, 0, 0);
  opacity: 0;
  visibility: hidden;
  // will-change: transform, opacity;
}

@mixin animate-delay($number:50, $delay:.15s) {
  @for $i from 1 to ($number + 1) {
    &:nth-child(#{$i}) {
      animation-delay: $i * $delay !important;
    }
  }
}