<div class="colors gap-ym--sm">
  <div class="container container-md">

    <h2 class="heading-2 border-bottom-brown pb-1 mb-4 text-center" style="--border-width: 1px;">Colors</h2>

    <ul class="d-flex-wrap ls-none">
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-black" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-white subheading-2">$black</span>
        </div>
        <div class="caption p-1 text-center">#000000</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-gray" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-white subheading-2">$gray</span>
        </div>
        <div class="caption p-1 text-center">#2E3033</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-gray-dark" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-white subheading-2">$gray-dark</span>
        </div>
        <div class="caption p-1 text-center">#292B2E / mix($black,$gray,10%)</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-white" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$white</span>
        </div>
        <div class="caption p-1 text-center">#FFFFFF</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-white-contrast" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$white-contrast</span>
        </div>
        <div class="caption p-1 text-center">#ffffff80 / transparentize($white,0.5)</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-yellow" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$yellow</span>
        </div>
        <div class="caption p-1 text-center">#DEAC56</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-yellow-dark" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$yellow-dark</span>
        </div>
        <div class="caption p-1 text-center">#DEAC56 / mix($black,$yellow,10%)</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-green" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$green</span>
        </div>
        <div class="caption p-1 text-center">#377261</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-red" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$red</span>
        </div>
        <div class="caption p-1 text-center">#A61100</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-brown" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-white subheading-2">$brown</span>
        </div>
        <div class="caption p-1 text-center">#3F3636</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-brown-contrast" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$brown-contrast</span>
        </div>
        <div class="caption p-1 text-center">#3f363680 / transparentize($brown,0.5)</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-brown-light" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$brown-light</span>
        </div>
        <div class="caption p-1 text-center">#A69D91</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-cream" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$cream</span>
        </div>
        <div class="caption p-1 text-center">#E6D7B6</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-cream-dark" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$cream-dark</span>
        </div>
        <div class="caption p-1 text-center">#F5E5C2</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-cream-contrast" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$cream-contrast</span>
        </div>
        <div class="caption p-1 text-center">#D4C6A7</div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative px-1 py-3 border-black bg-cream-light" style="--border-width: 1px;">
          <span class="w-100 float--center text-center color-black subheading-2">$cream-light</span>
        </div>
        <div class="caption p-1 text-center">#FFF3D9</div>
      </li>
    </ul>

  </div>
</div>

<div class="buttons gap-ym--sm">
  <div class="container container-md">

    <h2 class="heading-2 border-bottom-brown pb-1 mb-4 text-center" style="--border-width: 1px;">Buttons</h2>

    <ul class="d-flex-wrap ls-none">
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-primary" title="Button Primary">Button Primary</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-secondary" title="Button Secondary">Button Secondary</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-arrow heading-4 text-italic" title="Button Arrow">Button Arrow</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-arrow body-lg text-italic" title="Button Arrow">Button Arrow</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-arrow color-yellow heading-4 text-italic" title="Button Arrow">Button Arrow</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-arrow color-yellow body-lg text-italic" title="Button Arrow">Button Arrow</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-arrow color-white heading-4 text-italic" title="Button Arrow">Button Arrow</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-arrow color-white body-lg text-italic" title="Button Arrow">Button Arrow</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center">
            <a href="javascript:void(0);" class="btn btn-underline color-brown heading-4" title="Button Underline">Button Underline</a>
          </span>
        </div>
      </li>
      <li class="w-100 wd-50 p-h">
        <div class="pos-relative py-4">
          <span class="float--center contents">
            <a href="javascript:void(0);" title="Default Content Link">Default Content Link</a>
          </span>
        </div>
      </li>
    </ul>

  </div>
</div>

<div class="type gap-ym--sm">
  <div class="container container-md">

    <h2 class="heading-2 border-bottom-brown pb-1 mb-4 text-center" style="--border-width: 1px;">Type Styles</h2>

    <ul class="ls-none">
      <li class="py-1 heading-1">Heading 1</li>
      <li class="py-1 heading-2">Heading 2</li>
      <li class="py-1 heading-3">Heading 3</li>
      <li class="py-1 heading-4">Heading 4</li>
      <li class="py-1 heading-5">Heading 5</li>
      <li class="py-1 heading-5 text-bold">Heading 5</li>
      <li class="py-1 heading-6">Heading 6</li>
      <li class="py-1 subheading-1">Subheading 1</li>
      <li class="py-1 subheading-2">Subheading 2</li>
      <li class="py-1 body">Body: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</li>
      <li class="py-1 body text-bold">Body Bold: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</li>
      <li class="py-1 body text-italic text-bold">Body Bold Italic: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</li>
      <li class="py-1 body-lg">Body (LG): Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</li>
      <li class="py-1 body-lg text-bold">Body Bold (LG): Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</li>
      <li class="py-1 body-lg text-italic text-bold">Body Bold Italic (LG): Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</li>
      <li class="py-1 caption">Caption: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</li>
    </ul>

  </div>

</div>