<div id="modal" class="modal" tabindex="-1">
  <div class="modal-wrapper">

    <div class="modal-container">
      <div id="modal-content" class="modal-content"></div>
    </div>

  </div>

  <button id="modal-close" class="modal-close button-transparent d-ib color-white" aria-label="Close">
    <i class="icon-sm color-white">
      <span class="close"></span>
    </i>
  </button>
</div>