<a href="{{ product.url }}" class="product-card">
  <div class="product-card-image">
    <div class="ratio-1x1 border-radius">
      {% if product.featured_image %}
        {% render 'component-image', img: product.featured_image, size: 750 lazy: true %}
      {% else %}
        <div class="float--center w-100 text-center px-1">No Image Available</div>
      {% endif %}
    </div>
    {% render 'product-badge', product: product %}
  </div>

  <div class="product-card-content mt-q">
    <h3 class="product-card-title ">{{ product.title }}</h3>
    <div class="product-card-price mt-h">
      {% render 'product-price', product: product %}
    </div>
  </div>
</a>