{% if url != blank %}
  <div class="video-cover" data-video-id="{{ id }}">
    <iframe id="{{ id }}" src="{{ url }}?dnt=1&amp;app_id=122963&amp;background=1&amp;autoplay=1&amp;loop=1&amp;byline=0&amp;title=0&amp;muted=1&amp;controls=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
{% endif %}