{% liquid
  
  if class == blank
    assign class = ''
  else 
    assign class = class | prepend: ' '
  endif

%}

<form class="newsletter{{ class }}" autocomplete="off" action="{{ action }}">  
  <div class="d-flex w-max">
    <span class="sr-only">Email*</span>
    <input type="email" class="input-field" placeholder="Enter Your Email" name="EMAIL" id="mce-EMAIL-{{ section.id | default: block.id | default: unique }}" required>
    <div class="cta">
      <button class="btn btn-secondary h-full" type="submit" aria-label="Sign Up">Sign Up</button>
    </div>
  </div>
  <div class="pt-1">
    <label class="input-alert caption" for="mce-EMAIL-{{ section.id | default: block.id | default: unique }}"></label>
  </div>
</form>

<div class="newsletter-success d-none mt-2">Thank you for subscribing!</div>