{% liquid

  assign header_callout = header_settings.header_callout
  assign header_instagram = settings.social_instagram_link
  assign header_email = settings.email
  assign header_address = settings.address
  assign header_address_link = settings.address_link

%}

<nav id="nav" class="nav header-nav" tabindex="-1">

  {% if linklists[section.settings.nav] %}
    <ul class="header-menu nav-main ls-none">
      {% for link in linklists[section.settings.nav].links %}
        {% if linklists[section.settings.nav].levels == 1 %}
          <li class="nav-main-item">
            <a href="{{ link.url }}" class="nav-main-anchor{% if link.url == '/collections/all' and request.path contains '/collections' %} active{% elsif link.active %} active{% endif %}" title="{{ link.title | escape }}"{% if link.url contains 'http://' or link.url contains 'https://' %} target="_blank" rel="nofollow"{% endif %}>{{ link.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</nav>