{% if product.variants.size > 1 %}

  <a href="{{ product.url }}" class="btn btn-primary" title="More Info">Product Details</a>

{% else %}
  {% form 'product', product, id: product_form_id, class: 'product-form', novalidate: 'novalidate', data-type: 'add-to-cart-form' %}

    <input type="hidden" name="id" id="variant-id" value="{{ product.variants.first.id }}">

    <div class="product-card-checkout">
      <div class="qty sr-only">
        <button type="button" class="qty-minus button-opacity" aria-label="-">-</button>
        <input type="text" id="ProductQuantity" name="quantity" value="1" pattern="\d*">
        <button type="button" class="qty-plus button-opacity" aria-label="+">+</button>
      </div>

      {% if product.available %}
        <button id="add-to-cart-button" type="submit" name="add" class="add-to-cart-button btn btn-primary" aria-label="Add to Cart">Add to Cart</button>
      {% else %}
        <button class="btn btn-primary disabled" aria-label="Add to Cart" disabled>Add to Cart</button>
      {% endif %}
    </div>

  {% endform %}
{% endif %}