<section class="design default-content section">
  <div class="design-wrapper gap-tm--md gap-bm--md">
  
    <div class="container container-md">
  
  
      <div id="colors" class="design-section colors gap-bm--md">
  
        <h2 class="heading-3 pb-2 border-bottom-current text-center">Colors</h2>
        <div class="contents caption pt-2 mb-5">These colors are used exclusively for design and development purposes and are not available for general use across the website unless specifically designated in its design or development. This list includes all colors used throughout the project.</div>
  
        <ul class="d-flex-wrap ls-none mx-nh">
          <li class="w-50 p-h">
            <div class="pos-relative px-1 py-3 border-transparent bg-white">
              <div class="caption float--center py-1 text-center color-black">$white</div>
            </div>
            <div class="caption py-1 text-center">#FFFFFF</div>
          </li>
          <li class="w-50 p-h">
            <div class="pos-relative px-1 py-3 border-transparent bg-black">
              <div class="caption float--center py-1 text-center color-white">$black</div>
            </div>
            <div class="caption py-1 text-center">#000000</div>
          </li>
          <li class="w-50 p-h">
            <div class="pos-relative px-1 py-3 border-transparent bg-white-transparent">
              <div class="caption float--center py-1 text-center color-black">$white-transparent</div>
            </div>
            <div class="caption py-1 text-center">rgba(255,255,255,0.5)</div>
          </li>
          <li class="w-50 p-h">
            <div class="pos-relative px-1 py-3 border-transparent bg-black-transparent">
              <div class="caption float--center py-1 text-center color-white">$black-transparent</div>
            </div>
            <div class="caption py-1 text-center">rgba(0,0,0,0.5)</div>
          </li>
          <li class="w-50 p-h">
            <div class="pos-relative px-1 py-3 border-transparent bg-error">
              <div class="caption float--center py-1 text-center color-white">$error</div>
            </div>
            <div class="caption py-1 text-center">#ff0000</div>
          </li>
        </ul>
      
      </div>
  
  
      <div id="buttons" class="design-section buttons gap-bm--md">
      
        <h2 class="heading-3 pb-2 border-bottom-current text-center">Buttons</h2>
        <div class="contents caption pt-2 mb-5">These buttons are intended solely for design and development purposes and are not available for general use across the website unless specifically designated in its design or development. This list includes all buttons used throughout the project.</div>
  
        <ul class="d-flex-wrap ls-none">
          <li class="w-100 wd-50 p-h my-1 bg-tan">
            <div class="w-100 py-2 text-center">
              <a href="javascript:void(0);" class="btn btn-primary" title="Primary Button">Primary Button</a>
            </div>
            <div class="w-100 caption py-1 text-center">.btn.btn-primary</div>
          </li>
          <li class="w-100 wd-50 p-h my-1 bg-tan">
            <div class="w-100 py-2 text-center">
              <a href="javascript:void(0);" class="btn btn-secondary" title="Secondary Button">Secondary Button</a>
            </div>
            <div class="w-100 caption py-1 text-center">.btn.btn-secondary</div>
          </li>
        </ul>
      
      </div>
      
  
      <div id="type" class="design-section type gap-bm--md">
      
        <h2 class="heading-3 pb-2 border-bottom-current text-center">Type Styles</h2>
        <div class="contents caption pt-2 mb-5">These type styles are intended solely for design and development purposes and are not available for general use across the website unless specifically designated in its design or development. This list includes all type styles used throughout the project.</div>
  
        <ul class="ls-none">
          <li class="py-1">
            <div class="heading-1">Heading 1</div>
            <div class="caption opacity-7">.heading-1</div>
          </li>
          <li class="py-1">
            <div class="heading-2">Heading 2</div>
            <div class="caption opacity-7">.heading-2</div>
          </li>
          <li class="py-1">
            <div class="heading-3">Heading 3</div>
            <div class="caption opacity-7 pt-h">.heading-3</div>
          </li>
          <li class="py-1">
            <div class="heading-4">Heading 4</div>
            <div class="caption opacity-7 pt-h">.heading-4</div>
          </li>
          <li class="py-1">
            <div class="heading-5">Heading 5</div>
            <div class="caption opacity-7 pt-h">.heading-5</div>
          </li>
          <li class="py-1">
            <div class="heading-6">Heading 6</div>
            <div class="caption opacity-7 pt-h">.heading-6</div>
          </li>
          <li class="py-1">
            <div class="subheading">Subheading</div>
            <div class="caption opacity-7 pt-h">.subheading</div>
          </li>
          <li class="py-1">
            <div class="body">Body - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</div>
            <div class="caption opacity-7 pt-h">.body</div>
          </li>
          <li class="py-1">
            <div class="caption">Caption - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum ipsum illo rem praesentium eligendi velit est fuga! Delectus, maxime natus! Odit non dicta laudantium aperiam repudiandae ipsum quae amet.</div>
            <div class="caption opacity-7 pt-h">.caption</div>
          </li>
        </ul>
      
      </div>
      
  
      <div id="default" class="design-section default">
      
        <h2 class="heading-3 pb-2 border-bottom-current text-center">Default Page Style</h2>
        <div class="contents caption pt-2 mb-5">This section serves as a reference for default page styles. For guidance on adding styles through the WYSIWYG editor in WordPress, see the <a href="<?php echo URL;?>/sample/" title="Sample Page">Sample Page</a>.</div>
  
        <div class="contents gap-tm--xs">
          <h2>Heading 2</h2>
          <p>Heading 2 uses the style of "Heading 3" in <a href="#type" class="button text-decoration anchor" title="Type Styles">Type Styles</a> section.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <a href="javascript:void(0);">eiusmod tempor</a> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute <a href="javascript:void(0);">irure dolor in</a> reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Paragraph uses the style of "Body" in <a href="#type" class="button text-decoration anchor" title="Type Styles">Type Styles</a> section.</p>
          <h3>Heading 3</h3>
          <p>Heading 3 uses the style of "Heading 4" in <a href="#type" class="button text-decoration anchor" title="Type Styles">Type Styles</a> section.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute <a href="javascript:void(0);">irure dolor</a> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h4>Heading 4</h4>
          <p>Heading 4 uses the style of "Heading 5" in <a href="#type" class="button text-decoration anchor" title="Type Styles">Type Styles</a> section.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="javascript:void(0);">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>consectetur adipiscing elit</li>
            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</li>
            <li>in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="javascript:void(0);">Ut enim ad </a>minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <h5>Heading 5</h5>
          <p>Heading 5 uses the style of "Heading 6" in <a href="#type" class="button text-decoration anchor" title="Type Styles">Type Styles</a> section.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, <a href="javascript:void(0);">sunt in culpa</a> qui officia deserunt mollit anim id est laborum.</p>
          <h6>Heading 6</h6>
          <p>Heading 6 uses the style of "Subheading" in <a href="#type" class="button text-decoration anchor" title="Type Styles">Type Styles</a> section.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="javascript:void(0);">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>consectetur adipiscing elit</li>
            <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</li>
            <li>in voluptate velit esse <a href="javascript:void(0);">cillum dolore</a> eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</li>
          </ol>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      
      </div>
  
  
    </div>
  
  </div>
</section>