<div class="header-wrapper">
  <div class="header-container">

    <a href="{{ routes.root_url }}" class="header-logo w-100 ratio-21x9 bg-black w-max" title="{{ shop.name }}" style="--mw: 110px;">
      <span class="sr-only">{{ shop.name }}</span>
      <div class="header-logo-wrapper bg-black"></div>
    </a>

    <button id="menu" class="header-btn button-transparent" aria-label="Menu">Menu</button>

    {% comment %} {% render 'navigation', header_settings: section.settings %} {% endcomment %}

  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings" : [
      {
        "type": "header",
        "content": "Navigation Options"
      },
      {
        "type": "link_list",
        "id": "nav",
        "label": "Navigation Menu"
      }
    ]
  }
{% endschema %}