<section class="hero section section-full">
  <div class="hero-text text-center">
    <div class="container container-lg">
      <h1 class="hero-title heading-1">{{ 'templates.404.subtext' | t }}</h1>
      <h2 class="hero-subtitle heading-3">{{ 'templates.404.title' | t }}</h2>
      <a href="{{ routes.root_url }}" class="btn btn-primary color-green-b mt-3">{{ 'templates.404.button' | t }}</a>
    </div>
  </div>
</section>