{% liquid

  assign spacing_top = section.settings.spacing_top | prepend: ' gap-tm--'
  assign spacing_bottom = section.settings.spacing_bottom | prepend: ' gap-bm--'
  assign spacing_header = section.settings.spacing_header
  
  assign container_size = section.settings.container_size | prepend: ' container-'
  
%}

{% if page.url contains 'style-guide' %}

  {% render 'style-guide' %}
  
{% else %}

  <div class="default-content-wrapper{{ spacing_top }}{{ spacing_bottom }}">

    {% if spacing_header == true %}
      <div class="gap-hh"></div>
    {% endif %}

    <div class="container{{ container_size }}">
      
      {% if page.content == blank %}

        <div class="text-center">
          <h3 class="mb-1">There is currently no content.</h3>
          <div class="contents">
            {% if customer %}
              <p>Add content in the Shopify admin: <a href="/admin" title="Edit this page">Edit this page</a>.</p>
            {% else %}
              <p><a href="/admin" title="Log in">Log in</a> to Shopify to edit this page.</p>
            {% endif %}
            <a href="/" class="btn btn-primary mt-2" title="Back to Home">Back to Home</a>
          </div>
        </div>

      {% else %}
        <div class="contents">{{ page.content }}</div>

      {% endif %}

    </div>
  </div>

{% endif %}

{% schema %}
  {
    "name": "Page Content",
    "tag": "section",
    "class": "default-content section",
    "limit": 1,
    "settings": [
      {
        "type": "header",
        "content": "Spacing Options"
      },
      {
        "type": "select",
        "id": "spacing_top",
        "default": "md",
        "label": "Section Spacing Top",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "select",
        "id": "spacing_bottom",
        "default": "md",
        "label": "Section Spacing Bottom",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, {
            "label": "X-Large",
            "value": "xl"
          }, {
            "label": "XX-Large",
            "value": "xx"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "spacing_header",
        "default": false,
        "label": "Add extra spacing for header"
      }, 
      {
        "type": "header",
        "content": "Content Options"
      }, 
      {
        "type": "select",
        "label": "Container Size",
        "id": "container_size",
        "default": "lg",
        "options": [
          {
            "label": "None",
            "value": "none"
          },
          {
            "label": "X-Small",
            "value": "xs"
          },
          {
            "label": "Small",
            "value": "sm"
          },
          {
            "label": "Medium",
            "value": "md"
          },
          {
            "label": "Large",
            "value": "lg"
          }, 
          {
            "label": "X-Large",
            "value": "xl"
          }, 
          {
            "label": "XX-Large",
            "value": "xx"
          }, 
          {
            "label": "Maximum",
            "value": "max"
          },
          {
            "label": "Extra",
            "value": "xtr"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Page Content"
      }
    ]
  }
{% endschema %}