
<div class="images-wrap">
  <div class="container px-0">

    <ul class="images-list d-flex-wrap ls-none">
      <li class="images-list-item w-50 wd-50">
        <div class="ratio-1x1 bg-black"></div>
      </li>
      <li class="images-list-item w-50 wd-50">
        <div class="ratio-1x1 bg-black"></div>
      </li>
      <li class="images-list-item w-50 wd-50">
        <div class="ratio-1x1 bg-black"></div>
      </li>
      <li class="images-list-item w-50 wd-50">
        <div class="ratio-1x1 bg-black"></div>
      </li>
    </ul>

  </div>
</div>

{% schema %}
{
  "name": "Images",
  "class": "images section",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Images"
    }
  ]
}
{% endschema %}