@use "../shared" as *;

$gaps: (
  "xs": $spacing*3,
  "sm": $spacing*5,
  "md": $spacing*10,
  "lg": $spacing*15,
  "xl": $spacing*20,
  "xx": $spacing*25,
);

/*! purgecss start ignore */

.gap {
  $self: &;

  &-hh { padding-top: var(--hh, 70px); }

  @each $name, $gap in $gaps {
    &-y--#{$name} {
      padding-top: #{$gap};
      padding-bottom: #{$gap};
    }
  
    &-t--#{$name} {
      padding-top: #{$gap};
    }
  
    &-b--#{$name} {
      padding-bottom: #{$gap};
    }

    &-ym--#{$name} {
      padding-top: calc(#{$gap} / 2);
      padding-bottom: calc(#{$gap} / 2);

      @include bp-up(md) {
        padding-top: #{$gap};
        padding-bottom: #{$gap};
      }
    }
  
    &-tm--#{$name} {
      padding-top: calc(#{$gap} / 2);

      @include bp-up(md) {
        padding-top: #{$gap};
      }
    }
  
    &-bm--#{$name} {
      padding-bottom: calc(#{$gap} / 2);

      @include bp-up(md) {
        padding-bottom: #{$gap};
      }
    }

    &-yd--#{$name} {
      @include bp-up(md) {
        padding-top: #{$gap};
        padding-bottom: #{$gap};
      }
    }
  
    &-td--#{$name} {
      @include bp-up(md) {
        padding-top: #{$gap};
      }
    }
  
    &-bd--#{$name} {
      @include bp-up(md) {
        padding-bottom: #{$gap};
      }
    }
  }

}

// [class*="gap-y"] {

//   + [class*="gap-t"] {
//     padding-top: 0;
//   }
// }

/*! purgecss end ignore */