@use "../shared" as *;

/*! purgecss start ignore */

.icon {
  $self: &;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;

  img,svg,span {
    @include flex-center;
  }

  &-xs {
    @extend #{$self};

    img,
    svg,
    span {
      width: 20px;
      height: 20px;
    }
  }

  &-sm {
    @extend #{$self};

    img,
    svg,
    span {
      width: 30px;
      height: 30px;
    }
  }

  &-md {
    @extend #{$self};

    img,
    svg,
    span {
      width: 40px;
      height: 40px;
    }
  }

  &-lg {
    @extend #{$self};

    img,
    svg,
    span {
      width: 50px;
      height: 50px;
    }
  }

  &-xl {
    @extend #{$self};

    img,
    svg,
    span {
      width: 60px;
      height: 60px;
    }
  }

  &-plus {
    $self: &;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    transform: rotate(0deg) translate3d(0,0,0);
    transition: transform 0.3s $ease-default;
  
    &:before,
    &:after {
      content: '';
      @include center;
      background-color: $current;
    }
  
    &:before {
      height: 100%;
      width: 1.5px;
    }
  
    &:after {
      width: 100%;
      height: 1.5px;
    }

    .active & {
      transform: rotate(45deg) translate3d(0,0,0);
    }
  }

  &-arrow {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    transform: scale(1,1) translate3d(0,0,0);
    transition: transform 0.5s $ease-default;
    color: $current;

    button.active & {
      transform: scale(1,-1) translate3d(0,0,0);
    }
    
    &:after {
      content:'';
      @include cover;
      border-right: 1.5px solid $current;
      border-bottom: 1.5px solid $current;
      transform: rotate(45deg);
    }

    &.left {
      &:after {
        transform: rotate(135deg) translate3d(-6.5px,-6.5px,0);
      }
    }

    &.right {
      &:after {
        transform: rotate(-45deg) translate3d(-6.5px,-6.5px,0);
      }
    }

  }
  
  &-close {
    $self: &;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    transform: rotate(45deg) translate3d(0,0,0);
  
    &:before,
    &:after {
      content: '';
      @include center;
      background-color: currentColor;
    }
  
    &:before {
      height: 100%;
      width: 1.5px;
    }
  
    &:after {
      width: 100%;
      height: 1.5px;
    }
  }
  
  &-menu {
    $self: &;
    position: relative;
    width: 100%;
    background-color: $current;
  
    &:before,
    &:after {
      content:'';
      position: absolute;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: inherit;
      transition: all 0.3s $ease-default;
    }
  
    &:before { top: -4px; }
    &:after { bottom: -4px; }

    .active & {
      &:before { 
        top: -0.75px;
        transform: rotate(45deg);
      }
      &:after { 
        bottom: -0.75px; 
        transform: rotate(-45deg);
      }
    }
  }

  &-account {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $current;
    @include mask('icon-account.svg');
  }

  &-cart {
    position: relative;

    .count {
      @include flex-center;

      position: absolute;
      top: 0;
      right: 0;
      height: 18px;
      width: 18px;

      font-family: $ff-sans-serif;
      font-size: 12px;
      border-radius: 50px;
      z-index: 1;
    }

    i {
      display: block;
      width: 100%;
      height: 100%;
      background-color: $current;
      @include mask('icon-cart.svg');
    }

  }
  
}

/*! purgecss end ignore */