@use "../shared" as *;

.img {
  $self: &;

  &-fluid {
    max-width: 100%;
  }

  &-full {
    width: 100%;
  }

  &-cover {
    @include object-fit;
  }

  &-contain {
    @include object-fit(contain);
  }

  &-fix {
    @include pixel-fix;
  }
}