@use "../shared" as *;

/*! purgecss start ignore */

$aspect-ratios: (
  "1x1": 100%,
  "2x1": calc(1 / 2 * 100%),
  "1x2": calc(2 / 1 * 100%),
  "3x1": calc(1 / 3 * 100%),
  "1x3": calc(3 / 1 * 100%),
  "4x3": calc(3 / 4 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "5x4": calc(4 / 5 * 100%),
  "4x5": calc(5 / 4 * 100%),
  "5x7": calc(7 / 5 * 100%),
  "7x5": calc(5 / 7 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "9x16": calc(16 / 9 * 100%),
  "16x10": calc(10 / 16 * 100%),
  "10x16": calc(16 / 10 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "9x21": calc(21 / 9 * 100%),
  "18x6": calc(6 / 18 * 100%),
  "6x18": calc(18 / 6 * 100%),
  "10x1": calc(1 / 10 * 100%),
  "1x10": calc(10 / 1 * 100%),
);

.ratio {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
  }

  >.img-fluid {
    @include center;
  }

  > .img-cover,
  > .img-contain,
  > iframe,
  > svg {
    @include cover;
  }

  > span {
    width: 100%;
    @include center;
  }

  &-custom {
    @extend .ratio;
      
    &:before {
      padding-bottom: var(--ratio);
    }
  }

  @each $name, $aspect-ratio in $aspect-ratios {
    &-#{$name} {
      @extend .ratio;
      
      &:before {
        padding-bottom: #{$aspect-ratio};
      }  
    }

    &-#{$name}-upt {
      &:before {
        @include bp-up(md) {
          padding-bottom: #{$aspect-ratio} !important;
        }
      }
    }

    &-#{$name}-upd {
      &:before {
        @include bp-up(lg) {
          padding-bottom: #{$aspect-ratio} !important;
        }
      }
    }
  }
}

/*! purgecss end ignore */